.button {
    background-color: var(--rouge-bde);
    border-radius: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;

    transition: transform var(--global-transition-duration), background-color var(--global-transition-duration), color var(--global-transition-duration);
}


.regular {
    font-size: 16px;
    padding: 8px 16px;
    font-weight: 700;

}

.big {
    font-size: 20px;
    padding: 12px 24px;
}

.small {
    font-size: 14px;
    padding: 6px 12px;
}

.bordered {
    border: 2px solid var(--rouge-bde);
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--rouge-bde);
    animation : fadeIn var(--global-transition-duration);
    /* transition: background-color var(--global-transition-duration), color var(--global-transition-duration); */
}



.button:hover {
    background-color: var(--rouge-bde-dark);
    color: white;
    text-decoration: none;
    transform:translateY(-2px);
}


.bordered:hover {
    background-color: rgba(147, 147, 147, 0.1);
    color: var(--rouge-bde);
    text-decoration: none;
}