/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

header#homePageHeader {
  padding: 2vh 4vw;
  text-align: left;
  position: relative;
  /* background: linear-gradient(45deg, #f64e70, #ed99a9); */
  background-color: rgba(142, 142, 142, 0.1);
  height: calc(100vh - 60px);
  max-height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
}

h1#bdeTitleText {
  font-weight: 700;
  font-size: 64px;
  color: var(--rouge-bde);
  margin: 0;

}
p#bdeTitleSubtext {
  font-size: 26px;
  font-weight: 500;
}

div.buttonBox {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 10px 0;
}



@media screen and (max-width: 996px) {
  header {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap:2em;
  align-items: center;
  justify-content: center;
}

/*texte des boutons*/
.buttons p {
  
}



/* mobile */

@media screen and (max-width: 996px) {
  header#homePageHeader {
    padding: 2vh 20px;
    flex-direction: column;
    height: 100%;
    max-height: unset;
    padding-bottom: 40px;
  }
  
}

