
.PhotoBoxAccueil {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* width: 100%; */
  max-height: 500px;
  height: 100%;
  aspect-ratio: 3/4;
  background-color: #f5f5f5;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all var(--global-transition-duration);
  overflow: hidden;
}


.PhotoBoxAccueil>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    transition: all var(--global-transition-duration);
    color: white;
}


.PhotoBoxAccueil>div>h3, .PhotoBoxAccueil>div>p {
    transition: all var(--global-transition-duration);
    /* transition-delay: var(--global-transition-duration); */
    transform: translateY(200%);
    opacity: 0;
}



.PhotoBoxAccueil:hover>div>h3, .PhotoBoxAccueil:hover>div>p {
    transition-delay: 0s;
    transform: translateY(0%);
    opacity: 1;
}


.PhotoBoxAccueil>div>p {

    margin-bottom: 40px;
}








.PhotoBoxAccueil:hover>div {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: all 0.3s;
  opacity: 1;
  transform: translateY(0%);
}


.PhotoBoxAccueilContent h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}



.PhotoBoxAccueil>div>div.PhotoBoxAccueilBottomBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}


.PhotoBoxAccueilBottomBox>p {
    margin: 0;
    background-color: rgba(211, 211, 211, 0.4);
    backdrop-filter: blur(4px) !important;
    -webkit-backdrop-filter: blur(4px);
    border-radius: 120px;
    padding: 8px 16px;


}


#PhotoBoxAccueilBouton {
    background-color: rgba(211, 211, 211, 0.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px) !important;
    -webkit-backdrop-filter: blur(4px) !important;
    border-radius: 12px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all var(--global-transition-duration);
    user-select: none;
}


#PhotoBoxAccueilBouton:hover {
    background-color: rgba(211, 211, 211, 0.6);
    transform: scale(1.05);
}

#PhotoBoxAccueilBouton:active {
    transform: scale(0.95);
    background-color: rgba(211, 211, 211, 0.5);

}